{
  "devDependencies": {
    "eslint": "*",
    "prettier": "*",
    "babel-eslint": "*",
    "eslint-config-prettier": "*",
    "eslint-plugin-react": "*"
  },
  "extends": ["plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error"
  }
}
